.video-background {
    position: relative;

    > * {
        position: relative;
        z-index: 2;
    }
    
    > .video-player {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;

        video {
            width: 100%;
            height: auto;
        }
    }
}