.p-progress-spinner-circle {
    stroke: var(--primary-color);
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary-color);
    background: var(--primary-color);
}
.p-colorpicker-panel {
    z-index: 100 !important;
}
.p-dialog-header {
    width: 100%;
}
.p-dialog.p-component {
    box-shadow: none;
}